@import url("normalize.css");

/* 疑似クラス（HTML文書におけるルート要素（通常は <html> 要素）を対象にする特別なセレクタ） */
:root {
    background-color: #f5f5f5;
}
body {
    display:flex;
    justify-content: center;
    padding:20px;
}
.container {
    width:100%; 
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color:#2c3e50;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

input[type="text"],
input[type=email],
select,
textarea {
    border:1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width:100%;
}

label {
    display:block;
    font-weight: bold;
    margin-bottom: .5rem;
}

button {
    background-color: #3498db;
    color:#fff;
    border: none;
    padding: 10px 20px;
    border-radius:4px;
    cursor:pointer;
    font-size: 1.0rem;
    width:100%;
    transition: background-color .3s;
}

button:hover {
    background-color: #2980b9;
}

.required {
    background-color: #f99;
    padding:2px 4px;
    font-size: .8em;
    border-radius: 2px;
    margin-left: 4px;
    color:#fff;
}

.radio-group {
    display: flex;
    gap:1.5rem;
    margin-top: .5rem;
}

/* align-items は、Flexbox（flexレイアウト）で交差軸（cross axis）方向の整列位置を指定するプロパティ */
.radio-group label {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin:0;
    gap:.5rem;
}

.checkbox-group {
    display:flex;
    gap:1.5rem;
    margin-top:.5rem;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin:0;
    gap:.5rem;
    font-weight: normal;
}



/* radio-groupクラスのflex-boxの方向を縦にする */
@media(max-width:680px) {
    .radio-group {
        flex-direction: column;
        gap:.5rem;
    }
}

@media(max-width:680px){
    .checkbox-group {
        flex-direction: column;
        gap: .5rem;
    }
}
